@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}
